<table border="2" class="table small-font">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>出欠</th>
      <th>日付</th>
      <th>時間</th>
      <th>場所</th>
      <th>団体名</th>
      <th>譜面台</th>
      <th>備考</th>
    </tr>
  </thead>
  <tbody>
  <!--sortで並び替えて予定一覧を表示-->
  <% member.practices.sort{|a, b| a[:schedule] <=> b[:schedule]}.each do |practice| %>
  <% attendance = practice.attendances.find_by(member_id: member.id) %>
    <tr<%= attendance.id %>>
      <%= form_with model: attendance, url: members_attendance_path(attendance), method: :patch, remote: true do |f| %>
          <td><%= f.submit "更新" , class: "btn btn-success mr-2"%></td>
          <td><%= f.select :attendance_status, Attendance.attendance_statuses.keys.to_a, {}, class: 'form-control' %></td>
          <td><%= attendance.attendance_status %></td>
          <td><%= link_to practice.schedule, members_practice_path(practice) %></td>
          <td><%= l practice.start_at, format: :short %>-<%= l practice.end_at, format: :short %></td>
          <td><%= practice.place %></td>
          <td><%= link_to practice.orchestra.name, members_attendance_path(practice.orchestra) %></td>
          <td><%= practice.stand? ? "不要" : "要" %></td>
          <td><%= f.text_field :note %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>