<p id="page-top"><a href="#">Page Top</a></p>
<div class="divTable small-font m-2">
  <div class="divTableBody">
    <div class="divTableHeading">
      <div class="divTableCell align-middle table-th3">更新</div>
      <div class="divTableCell align-middle table-th4">出欠</div>
      <div class="divTableCell align-middle table-th3">日付
        <span class="tooltip1 circle1">Tips
          <span class="tooltip-text">クリックすると日付毎の出欠状況を表示します。</span>
        </span>
      </div>
      <div class="divTableCell align-middle table-th3">時間
        <span class="tooltip1 circle1">Tips
          <span class="tooltip-text">カーソルを合わせると詳細予定が表示されます。</span>
        </span>
      </div>
      <div class="divTableCell align-middle table-th3">場所</div>
      <div class="divTableCell align-middle table-th4">団体名
        <span class="tooltip1 circle1">Tips
          <span class="tooltip-text">クリックすると団体全体の出欠状況を表示します。</span>
        </span>
      </div>
      <div class="divTableCell align-middle table-th2">出席</div>
      <div class="divTableCell align-middle table-th1">譜面台</div>
      <div class="divTableCell align-middle table-th5">備考</div>
    </div>
    <% if @orchestra == nil %>
    <% member.practices.sort{|a, b| a[:schedule] <=> b[:schedule]}.each do |practice| %>
    <% attendance = practice.attendances.find_by(member_id: member.id) %>
      <%= form_with model: attendance, url: members_attendance_path(attendance), method: :patch, remote: true do |f| %>
      <div class="divTableRow">
        <div class="divTableCell align-middle table-th3">
          <%= button_tag :class =>"wrapper icon" do %><%= image_tag "img/icon/Tp-mini.png", class: "wide-icon" %><% end %>
        </div>
        <div class="divTableCell align-middle table-th4">
          <%= f.select :attendance_status, Attendance.attendance_statuses.keys.to_a, {}, class: 'form-control' %>
        </div>
        <div class="divTableCell align-middle table-th3"><%= link_to practice.schedule, members_practice_path(practice), class: "text-darkblue" %></div>
        <div class="divTableCell align-middle table-th3 tooltip1">
          <span class="tooltip-text"><%= practice.note %></span><%= l practice.start_at, format: :short %>-<%= l practice.end_at, format: :short %>
        </div>
        <div class="divTableCell align-middle table-th3"><%= practice.place %></div>
        <div class="divTableCell align-middle table-th4"><%= link_to practice.orchestra.name, members_attendance_path(practice.orchestra), class: "text-darkblue" %></div>
        <div class="divTableCell align-middle table-th2"><%= "#{practice.attendances.where(attendance_status:1).count + practice.attendances.where(attendance_status:3).count + practice.attendances.where(attendance_status:4).count}" %>人</div>
        <div class="divTableCell align-middle table-th1"><%= practice.stand? ? "不要" : "要" %></div>
        <div class="divTableCell align-middle table-th5"><%= f.text_field :note, size:30 %></div>
      </div>
      <% end %>
      <% end %>
    <% else %>
    <%= render 'other_schedule', id: @orchestra.ids, member: @member %>
  <% end %>
  </div>
</div>