<div id="particles-js"></div>
<div id="wrapper1">
  <div class="container height">
    <div class="row">
      <div class="d-flex mx-auto">
        <h2 class="text-center mt-4 mb-4"><%= "#{@member.family_name}さんの練習予定" %></h2>
        <div class="tooltip1 mt-2"><i class="fas fa-question-circle fa-lg"></i>
          <span class="tooltip-text">出欠入力を行いましょう！団体毎の絞り込みも行えます。</span>
        </div>
      </div>
      <!--カレンダー-->
      <%= month_calendar events: @practices do |date, practices| %>
        <%= date.day %>
        <% practices.each do |practice| %>
          <div class="small-font float1 tooltip1">
            <%= link_to practice.orchestra.name, members_practice_path(practice), class: "practice-font sp-off" %>*
            <span class="tooltip-text1"><%= simple_format(practice.note) %></span>
          </div>
        <% end %>
      <% end %>
      <!---->
      <!--団体絞り込みフォーム-->
      <%= form_with url: {controller:"members/attendances", action: "search"}, method: :get, local: true do |f| %>
        <div class="text-center d-flex m-2">
          <div><%= f.select :search, @names, {}, class: 'form-control font-size-standard' %></div>
          <div class="m-1"><%= f.submit "団体別に表示", name: nil %></div>
          <div class="mt-2"><%= link_to "解除",members_attendances_path, class: "text-darkblue" %></div>
        </div>
      <% end %>
      <!---->
      <%= form_with  url:{controller:"members/attendances", action: "update_all"}, method: :post, local: true do |f| %>
        <div class="text-center d-flex m-2">
          <div><%= f.select :attendance_status, {'未入力':'未入力', '出席':'出席', '欠席':'欠席'}, {include_blank: '選択ボックス'}, class: 'form-control font-size-standard' %></div>
          <div class="m-1"><%= f.submit "一括変更", name: nil %></div>
        </div>
      <% end %>
      <div id="attend" class="mx-auto">
        <%= render 'my_schedule', member: @member %>
      </div>
    </div>
  </div>
</div>
