<div class="container">
  <div class="row">
    <div class="mt-5 mx-auto col-8">
      <h2><%= @orchestra.name %></h2>
      <table border="2" class="table practice_index">
        <thead>
          <tr>
            <th>名前</th>
            <th>楽器</th>
            <th>トップ</th>
            <% @orchestra.practices.each do |practice| %>
              <th><%= link_to practice.schedule, members_practice_path(practice) %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <!--各メンバーにつき一行ずつ作成する-->
          <% @members.each do |member| %>
            <tr>
              <td>
                <%= form_with model: @orchestra, url: members_member_path(member), method: :get, local: true do |f| %>
                  <%= f.hidden_field :id, value: params[:id] %>
                  <%= f.submit "#{member.family_name}#{member.given_name}" %>
                <% end %>
              </td>
              <td><%= member.instrument.name %></td>
              <td>
                <% if member.belongings.find_by(orchestra_id: @orchestra).part_top %>〇
                <% else member.belongings.find_by(orchestra_id: @orchestra).part_top %>
                <% end %>
              </td>
              <% @orchestra.practices.each do |practice| %>
                <td>
                  <% if practice.attendances.find_by(member_id: member.id).attendance_status == "未入力" %>-
                  <% elsif practice.attendances.find_by(member_id: member.id).attendance_status == "出席" %>〇
                  <% elsif practice.attendances.find_by(member_id: member.id).attendance_status == "欠席" %>×
                  <% elsif practice.attendances.find_by(member_id: member.id).attendance_status == "遅刻" %>遅
                  <% else practice.attendances.find_by(member_id: member.id).attendance_status == "早退" %>早
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>