<div class="kamaishi photo">
  <div class="container">
    <div class="row">
      <div class="mx-auto card m-5 col-5">
        <div class="d-flex mx-auto">
          <h2 class="text-center m-4">入団申請画面</h2>
          <div class="tooltip1 circle mt-2">Tips
            <span class="tooltip-text">入団申請が受理されると出欠入力ができるようになります。<br>早速所属する団体を検索しましょう！</span>
          </div>
        </div>
        <%= form_with url: {controller: "members/orchestras", action: "search"}, method: :get, local: true do |f| %>
          <div class="text-center m-2">
            <%= f.text_field :search, placeholder: "団体名を入力してください", size: 25 %>
            <%= button_tag class: "icon" do %>
              <i class="fas fa-search fa-lg"></i>
            <% end %>
          </div>
        <% end %>
          <% @orchestras.each do |orchestra| %>
            <div class="d-flex justify-content-center delayScroll">
              <div class="m-3 d-flex">
                <div class="mr-3"><%= orchestra.name %></div>
                <% unless orchestra.member_belonging?(current_member) %>
                  <% if orchestra.applies.find_by(member_id: current_member) %>
                    <% path = orchestra.applies.find_by(member_id: current_member) %>
                    <%= form_with model: orchestra, url: members_apply_path(path), method: :delete, local: true do |f| %>
                      <%= f.submit '申請取消' %>
                    <% end %>
                  <% else %>
                    <%= form_with model: orchestra, url: members_applies_path, method: :post, local: true do |f| %>
                      <%= f.hidden_field :orchestra_id, value: orchestra.id %>
                      <%= f.submit '入団申請' %>
                    <% end %>
                  <% end %>
                <% else %>入団済み
                <% end %>
              </div>
            </div>
          <% end %>
        <div class="mx-auto"><%= paginate @orchestras %></div>
        <div class="m-3 mx-auto">
          <%= link_to members_member_mypage_path, class: "icon" do %>
            <%= image_tag "img/icon/Piano.png", class: "img-icon ml-2" %>
            <div>マイページへ</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
