<div class="container">
  <div class="row">
    <div class="mt-5 mx-auto col-11 d-flex">
      <div class="mr-5">
        <h2>登録済み楽器一覧</h2>
        <% @instruments.each do |instrument| %>
          <%= form_with model:instrument, url: orchestras_instrument_path(instrument), method: :patch, local:true do |f| %>
            <%= f.label "楽器名称",class: 'm-2' %>
            <%= f.text_field :name, class: 'form-control　col-3 m-2' %>
            <%= f.submit "変更", class: 'btn btn-success m-2' %>
          <% end %>
        <% end %>
      </div>
      <div>
        <h2>追加登録</h2>
        <div class="d-flex">
          <%= form_with model:@instrument, url: orchestras_instruments_path, method: :post, local:true do |f| %>
            <%= f.label "楽器名称",class: 'm-2' %>
              <%= f.text_field :name, class: 'form-control　col-3 m-2' %>
            <%= f.submit "新規登録", class: 'btn btn-success m-2' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>