<table border="2" class="table practice_index">
  <thead>
    <tr>
      <th>日付</th>
      <th>時間</th>
      <th>場所</th>
      <th>譜面台</th>
      <th>備考</th>
    </tr>
  </thead>
  <tbody>
    <% practice_index.each do |practice| %>
      <tr>
        <td><%= link_to practice.schedule, orchestras_practice_path(practice) %></td>
        <td><%= l practice.start_at, format: :short %>-<%= l practice.end_at, format: :short %></td>
        <td><%= practice.place %></td>
        <td><%= practice.stand? ? "不要" : "要" %></td>
        <td><%= practice.note.truncate(20, omission: '・・・') %></td>
      </tr>
    <% end %>
  </tbody>
</table>