<table border="2" class="table practice_index small-font">
  <thead>
    <tr class="text-center">
      <th class="table-th3 p-2">日付</th>
      <th class="table-th4 p-2">時間</th>
      <th class="table-th4 p-2">場所</th>
      <th class="table-th2 p-2">譜面台</th>
      <th class="table-th4 p-2 sp-off">練習予定</th>
    </tr>
  </thead>
  <tbody onLoad="rCheck()">
    <% practice_index.each do |practice| %>
      <tr class="text-center">
        <td class="align-middle p-0"><%= link_to practice.schedule, orchestras_practice_path(practice) %></td>
        <td class="align-middle"><%= l practice.start_at, format: :short %>-<%= l practice.end_at, format: :short %></td>
        <td class="align-middle"><%= practice.place %></td>
        <td class="align-middle"><%= practice.stand? ? "不要" : "要" %></td>
        <td class="align-middle tooltip1 sp-off">
          <%= practice.note.truncate(20, omission: '・・・') %>
          <span class="tooltip-text"><%= simple_format(practice.note, class:"tooltip-space") %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--リロードさせる-->
<script>
  $(document).ready( function(){
    if (window.name != "test") {
        location.reload();
        window.name = "test";
    } else {
        window.name = "";
    }
});
</script>