<div class="kamaishi photo">
  <div class="container">
    <div class="row d-flex mx-auto m-5 p-0">
      <div class="d-flex mx-auto m-5 p-0">
        <div class="col-5 card mr-3">
          <h2 class="text-center m-4">練習登録</h2>
          <%= form_with model:@practice, url: { controller: "practices", action: "create" }, method: :post, local:true do |f| %>
            <table>
              <tbody>
                <tr>
                  <td><%= f.label "日付",class: 'm-2 ' %></td>
                  <td><%= f.date_field :schedule, class: 'form-control　col-3 m-2' %></td>
                </tr>
                <tr>
                  <td><%= f.label "時間",class: 'm-2' %></td>
                  <td>
                    <%= f.time_select :start_time, {prompt:'--'}, class: 'form-control　col-3 m-2' %>-
                    <%= f.time_select :end_time, {prompt:'--'}, class: 'form-control　col-3 m-2' %>
                  </td>
                </tr>
                <tr>
                  <td><%= f.label "練習場所",class: 'm-2' %></td>
                  <td><%= f.text_field :place, class: 'form-control　col-3 m-2', size: 30 %></td>
                </tr>
                <tr>
                  <td><%= f.label "譜面台",class: 'm-2' %></td>
                  <td>要<%= f.radio_button :stand, false, class: 'form-control　col-3 m-2' %>不要<%= f.radio_button :stand, true, class: 'form-control　col-3 m-2' %></td>
                </tr>
                <tr>
                  <td><%= f.label "備考",class: 'm-2' %></td>
                  <td><%= f.text_area :note, class: 'form-control　col-3 m-2', size: "30x10" %></td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <%= button_tag :class =>"wrapper icon w-50 ml-5" do %>
                      <%= image_tag "img/icon/Hr.png", class: "img-icon" %>
                      <div>登録</div>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
          <% end %>
        </div>
        <div class="col-8 card">
          <div class="d-flex mx-auto">
            <h2 class="text-center mt-4 mb-4">練習一覧</h2>
            <div class="tooltip1 circle">Tips
              <span class="tooltip-text">日付をクリックすると詳細情報の確認、日程の編集、削除が行えます。</span>
            </div>
          </div>
          <%= render 'practice_index', practice_index: @practice_index %>
        </div>
      </div>
    </div>
  </div>
</div>