<div class="main-color">
  <div class="feed-images"></div>
  <div class="container mt-2 ">
    <div class="row">
      <h1 class="display-4">ようこそ、Otoderuへ！</h1>
      <div class="col-11">
        <%= link_to href="#1", class: "text-dark" do %>
          <%= image_tag "img/icon/Vnmask.png", class: "img-icon" %>Otoderuとは？
        <% end %>
      </div>
    </div>
    <div class="jumbotron main-color m-0">
      <div id="1" class="container">
        <h1 class="display-3">Otoderuとは</h1>
        <p class="lead font-weight-bold">
          オーケストラに特化した出欠管理サイトです。<br>
          奏者が演奏に集中できる環境を<br>
          そんな想いからこのサイトは作られています。
        </p>
      </div>
    </div>
    <div class="d-flex justify-content-center jumbotron pb-3">
      <div class="img-shadow1"><%= image_tag "img/kamaishi.jpg", width: "90%", height: "90%", class: "round" %></div>
      <div class="about-text">
        <h1 class="mt-5 font-weight-bold">予定を一括管理</h1>
        <p class="lead font-weight-bold">
          あの団体はメールで連絡<br>
          こっちの団体はスプレッドシートに<br>
          ここはサイトに入力……リンクはどこだっけ？<br>
          <br>
          全てOtoderuにお任せください。
        </p>
      </div>
    </div>
    <%= link_to href="#2", class: "img-icon text-decoration-none text-dark font-weight-bold" do %>
      <%= image_tag "img/icon/Vnmask.png", class: "img-icon" %>Next
    <% end %>
    <div class="d-flex justify-content-center jumbotron main-color pb-2 m-0">
      <div class="about-text">
        <h1 id ="2" class="mt-5 ml-5 font-weight-bold">手軽に出欠入力</h1>
        <p class="ml-5 lead font-weight-bold">
          毎回サイトにアクセスする手間は不要です.<br>
          連絡確認のついでにSlackに一言伝えましょう。<br>
          <br>
          <br>
          「出席」
        </p>
      </div>
      <div class="img-shadow1"><%= image_tag "img/kamaishi.jpg", width: "90%", height: "90%", class:"round" %></div>
    </div>
    <div class="d-flex justify-content-center jumbotron pt-5 pb-3 m-0">
      <div class="img-shadow1"><%= image_tag "img/kamaishi.jpg", width: "90%", height: "90%", class:"round" %></div>
      <div class="about-text">
        <h1 class="mt-5 font-weight-bold">練習をもっと効率よく</h1>
        <p class="lead font-weight-bold">
          上手な楽団には伝統があります。<br>
          人の集まり方で<br>
          どの曲、どの楽章に時間をかけるか<br>
          <br>
          それも、伝統。
        </p>
      </div>
    </div>
    <%= link_to href="#3", class: "img-icon text-decoration-none text-dark font-weight-bold" do %>
      <%= image_tag "img/icon/Vnmask.png", class: "img-icon" %>Next
    <% end %>
    <div class="d-flex justify-content-center jumbotron main-color m-3">
      <div class="about-text">
        <h1 class="mt-5 ml-5 font-weight-bold">今日の出席人数、<br>すぐ分かりますか？</h1>
        <p class="ml-5 lead font-weight-bold">
          Slackで呼びかけてみましょう<br>
          すぐに教えてくれますよ！
        </p>
      </div>
      <div class="img-shadow1"><%= image_tag "img/kamaishi.jpg", width: "90%", height: "90%", class:"round" %></div>
    </div>
    <div class="jumbotron main-color text-center mb-0">
      <div class="container">
        <h1 class="display-3">さぁ、早速使ってみましょう</h1>
        <%= link_to new_member_registration_path, class: "img-icon text-decoration-none text-dark font-weight-bold" do %>
          <%= image_tag "img/icon/Vn.png", class: "big-icon mt-3" %>
          <div>ようこそ</div>
        <% end %>
      </div>
    </div>
  </div>
</div>