<div class="main-color">
  <div class="feed-images"></div>
  <div class="container">
    <div class="container mt-3 text-center">
      <h1 class="display-3 text-center">ようこそ、Otoderuへ！</h1>
      <%= link_to href="#1", class: "text-dark scrolldown" do %>
        <i class="fas fa-angle-double-down fa-3x"></i>
        <p>Click!</p>
      <% end %>
    </div>
    <div class="container mt-5 mb-5">
      <div class="col-xs-9 col-lg-7 mx-auto">
        <h1 id="1" class="display-3 text-center display-border mb-5">Otoderuとは</h1>
      </div>
      <p class="lead font-weight-bold text-center mb-5 center">
        オーケストラに特化した出欠管理サイトです。<br>
        "奏者が演奏に集中できる環境を"<br>
        そんな想いからこのサイトは作られています。<br><br><br>
      </p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <%= image_tag "img/attendance.png", width: "100%", height: "100%", class: "round img-border" %>
        </div>
        <div class="col-xs-12 col-lg-6">
          <h1 class="display-4 mt-5 center">予定を一括管理</h1>
          <p class="lead font-weight-bold center">
            あの団体はメールで連絡<br>
            こっちの</h1>団体はスプレッドシートに<br>
            ここはサイトに入力……リンクはどこだっけ？<br>
            <br>
            全てOtoderuにお任せください
          </p>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <h1 class="display-4 mt-5 center">手軽に出欠入力</h1>
          <p class="lead font-weight-bold center">
            毎回サイトにアクセスする手間は不要です.<br>
            連絡確認のついでにSlackに一言伝えましょう。<br>
            <br>
            <br>
            「出席」
          </p>
        </div>
        <div class="col-xs-12 col-lg-6">
          <%= image_tag "img/attendance2.png", width: "100%", height: "100%", class: "round img-border" %>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <%= image_tag "img/attendance-show.png", width: "100%", height: "100%", class: "round img-border" %>
        </div>
        <div class="col-xs-12 col-lg-6">
          <h1 class="display-4 mt-5 center">充実した練習を！</h1>
          <p class="lead font-weight-bold center">
            上手な楽団には特徴があります。<br>
            人の集まりで<br>
            どの曲、どの楽章に時間をかけるか
          </p>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <h1 class="display-4 mt-5 center">入力漏れ防止</h1>
          <p class="lead font-weight-bold center">
            欠席って入れたつもりだった……<br>
            <br>
            未入力はOtoderuが教えてくれますよ。
          </p>
        </div>
        <div class="col-xs-12 col-lg-6">
          <%= image_tag "img/nav-bar.png", width: "100%", height: "100%", class: "round img-border" %>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <h1 class="display-3">さぁ、早速使ってみましょう</h1>
      <%= link_to new_member_registration_path, class: "text-decoration-none text-dark d-flex justify-content-center" do %>
        <%= image_tag "img/icon/Vn.png", class: "big-icon mt-3 " %>
      <% end %>
      <div id="3" class="text-center">ようこそ</div>
    </div>
  </div>
</div>