使われていないページ

<div class="container">
  <div class="row">
    <div class="mt-5 mx-auto col-8">
      <h2><%= "#{current_member.family_name}さんの練習予定" %></h2>
      <table border="2" class="table practice_index">
        <thead>
          <tr>
            <th>日付</th>
            <th>時間</th>
            <th>場所</th>
            <th>団体名</th>
            <th>譜面台</th>
            <th>出欠</th>
            <th>備考</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @orchestra.practices.each do |practice| %>
            <tr>
              <td><%= practice.schedule %></td>
              <td><%= l practice.start_time, format: :short %>-<%= l practice.end_time, format: :short %></td>
              <td><%= practice.place %></td>
              <td><%= practice.orchestra.name %></td>
              <td><%= practice.stand? ? "不要" : "要" %></td>
              <td><%= practice.attendances.find_by(member_id: current_member.id).attendance_status %></td>
              <td><%= practice.note.truncate(20, omission: '・・・') %></td>
              <td><%= link_to "変更", url:{controller: "attendances", action: "edit"}, class:"btn" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>