<div class="container">
  <div class="row">
    <div class="mt-5 mx-auto col-8">
      <h2>マイページ</h2>
      <div class="d-flex">
        <%= link_to "出欠確認", members_attendances_path, class:"btn" %>
        <%= link_to "プロフィール編集", edit_members_member_path(@member), class:"btn" %>
      </div>
      直近の練習予定は<%= link_to "#{@most_recent_date} #{@most_recent_date_orchestra} ", members_practice_path(@most_recent_practice) %>です。
      <% @member.belongings.each do |belonging| %>
        <div><%= link_to belonging.orchestra.name, members_attendance_path(belonging.orchestra), class:"btn" %></div>
      <% end %>
      <%= link_to "入団", members_orchestras_path, class:"btn" %>
    </div>
  </div>
</div>