<div class="kamaishi photo">
  <div class="container-fluid">
    <div class="row">
      <div class="mx-auto m-3 col-lg-4 col-9 card">
        <h2 class="text-center m-4">マイページ</h2>
        <% unless @most_recent_practice == nil %>
          <p class="text-center m-3 ">
            次の練習は<%= link_to "#{l @most_recent_date, format: :short} #{@most_recent_practice.orchestra.name} ", members_practice_path(@most_recent_practice), class: "text-dark next-practice linear" %>です。
          </p>
          <p class="text-center m-3">
            出欠未入力が<%= @member.attendances.absent_count %>件あります。
          </p>
        <% end %>
        <div class="d-flex justify-content-center text-center m-3">
          <%= link_to members_attendances_path, class: "text-dark mr-5 wrapper link-button" do %>
            <%= image_tag "img/icon/Cb-cut.png", class: "img-icon" %>
            <div class="small-font">出欠入力</div>
          <% end %>
          <%= link_to edit_members_member_path(@member), class: "text-dark mr-5 wrapper link-button" do %>
            <%= image_tag "img/icon/Harp.png", class: "img-icon ml-4" %>
            <div class="small-font">プロフィール編集</div>
          <% end %>
          <%= link_to members_orchestras_path, class: "text-dark wrapper link-button" do %>
            <%= image_tag "img/icon/Tb-cut.png", class: "img-icon" %>
            <div class="small-font">入団申請</div>
          <% end %>
        </div>
        <div class="text-center mt-3">───────練習予定───────</div>
        <% @member.orchestras.each do |orchestra| %>
          <div class="text-center delayScroll wrapper mb-1">
            <%= link_to orchestra.name, members_attendance_path(orchestra), class:"btn box font-size-standard" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>