<div id="particles-js"></div>
  <div id="wrapper1">
    <div class="container">
      <div class="row">
      <h2 class="mx-auto"><%= "#{@member.family_name}さんの練習予定" %></h2>
      <%= month_calendar events: @orchestra.practices do |date, practices| %>
        <%= date.day %>
        <% practices.each do |practice| %>
          <div class="small-font">
            <%= link_to practice.orchestra.name, members_practice_path(practice), class:"practice-font" %>
          </div>
        <% end %>
      <% end %>
      <%= render 'members/attendances/other_schedule', id: @orchestra.id, member: @member %>
      </div>
    </div>
  </div>
</div>