<div class="container">
  <div class="row">
    <div id="attend" class="mt-5 col-8 mx-auto">
      <h2><%= "#{@member.family_name}さんの練習予定" %></h2>
      <%= month_calendar events: @orchestra.practices do |date, practices| %>
        <%= date.day %>
        <% practices.each do |practice| %>
          <div class="small-font float1">
            <%= link_to practice.orchestra.name, members_practice_path(practice), class:"practice-font" %>
          </div>
        <% end %>
      <% end %>
      <table border="2" class="table small-font">
        <thead>
          <tr>
            <% if @member == current_member %>
            <th></th>
            <th></th>
            <% end %>
            <th>出欠</th>
            <th>日付</th>
            <th>時間</th>
            <th>場所</th>
            <th>団体名</th>
            <th>譜面台</th>
            <th>備考</th>
          </tr>
        </thead>
        <tbody>
        <% @member.practices.sort{|a, b| a[:schedule] <=> b[:schedule]}.each do |practice| %>
        <% attendance = practice.attendances.find_by(member_id: @member.id) %>
        <% if practice.orchestra_id == @orchestra.id %>
          <tr>
            <%= form_with model: attendance, url: members_attendance_path(attendance), method: :patch, remote: true do |f| %>
              <% if @member == current_member %>
                <td><%= f.submit "更新" , class: "btn btn-success mr-2"%></td>
                <td><%= f.select :attendance_status, Attendance.attendance_statuses.keys.to_a, {}, class: 'form-control' %></td>
              <% end %>
                <td><%= attendance.attendance_status %></td>
                <td><%= link_to practice.schedule, members_practice_path(practice) %></td>
                <td><%= l practice.start_at, format: :short %>-<%= l practice.end_at, format: :short %></td>
                <td><%= practice.place %></td>
                <td><%= link_to practice.orchestra.name, members_attendance_path(practice.orchestra) %></td>
                <td><%= practice.stand? ? "不要" : "要" %></td>
              <% if @member == current_member %>
                <td><%= f.text_field :note %></td>
              <% else %>
                <td><%= attendance.note %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>