<div class="kamaishi photo">
  <div class="container">
    <div class="row">
      <div class="mx-auto m-5 col-10 card">
        <div class="d-flex mx-auto">
          <h2 class="text-center mt-4 mb-4"><%= "#{current_orchestra.name}の団員一覧" %></h2>
          <div class="tooltip1 circle">Tips
            <span class="tooltip-text"><%= "PartTopの設定を行うと抽出して表示させることができます。現在工事中" %></span>
          </div>
        </div>
        <div style="height:500px; width:100%; overflow-y:scroll;">
          <table border="2" class="table">
            <thead>
              <tr class="text-center">
                <th class="table-th1 table-height align-middle">楽器</th>
                <th class="table-th2 align-middle">Top</th>
                <th class="table-th3 align-middle">名前</th>
                <th class="table-th4 align-middle">カナ</th>
                <th class="table-th5 align-middle">自己紹介</th>
                <th class="table-th3 align-middle p-1">PartTop<br>設定</th>
              </tr>
            </thead>
            <tbody>
              <% @belongings.each do |belonging| %>
                <tr class="text-center">
                  <td class="align-middle p-0"><%= belonging.member.instrument.name %></td>
                  <td class="align-middle p-0"><%= belonging.part_top? ? "〇" : "" %></td>
                  <td class="align-middle p-0"><%= "#{belonging.member.family_name} #{belonging.member.given_name}" %></td>
                  <td class="align-middle p-0"><%= "#{belonging.member.family_name_kana} #{belonging.member.given_name_kana}" %></td>
                  <td class="align-middle p-0"><%= belonging.member.introduction %></td>
                  <td class="align-middle p-0">
                    <%= link_to orchestras_member_path(belonging), method: :patch, class: "text-decoration-none text-dark" do %>
                      <%= image_tag "img/icon/Tb-mini.png", class: "wide-icon wrapper m-0 link-button" %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>