<header>
  <nav class="navbar">
    <div class="container">
      <%= link_to image_tag("logo.png"), root_path, class: "mr-auto" %>
      <ul class="navbar-nav flex-row">
        <% if orchestra_signed_in? %>
         <li class="nav-item mr-2"><%= link_to "注文履歴一覧", orachestras_instruments_path, class: "btn btn-light" %></li>
         <li class="nav-item mr-2"><%= link_to "ジャンル一覧", orachestras_orachestras_path, class: "btn btn-light" %></li>
         <li class="nav-item mr-2"><%= link_to "ログアウト", destroy_orchestra_session_path, class: "btn btn-light", method: :delete %></li>
        <% elsif member_signed_in? %>
         <li class="nav-item mr-2"><%= link_to "マイページ", members_members_path, class: "btn btn-light" %></li>
         <li class="nav-item mr-2"><%= link_to "ログアウト", destroy_member_session_path, class: "btn btn-light", method: :delete %></li>
        <% else %>
         <li class="nav-item mr-2"><%= link_to "Otoderuとは", homes_about_path, class: "btn btn-dark" %></li>
         <li class="nav-item mr-2"><%= link_to "ログイン", new_member_session_path, class: "btn btn-dark" %></li>
         <li class="nav-item mr-2"><%= link_to "新規登録", new_member_registration_path, class: "btn btn-dark" %></li>
         <li class="nav-item mr-2"><%= link_to "ログイン", new_orchestra_session_path, class: "btn btn-dark" %></li>
         <li class="nav-item"><%= link_to "新規登録", new_orchestra_registration_path, class: "btn btn-dark" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>